@import "../../variables";
.home-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;

	.home-container {
		max-width: $appmaxwidth;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 80px 50px;

		.right {
			width: 50%;
			h3 {
				font-weight: 700;
				font-size: 36px;
				color: #444444;
				line-height: 53px;
				text-transform: uppercase;
			}
			h6 {
				color: #ff7276;
				font-size: 18px;
			}
			p {
				font-weight: 400;
				font-size: 14px;
				line-height: 30px;
				color: #666666;
				margin-right: 50px;
			}
			button {
				background: rgba(74, 74, 74, 0.55);

				outline: 0;
				color: #000000 !important;
				padding: 8px 20px;
				border-radius: 8px;
				cursor: pointer;
				margin-top: 40px;
			}
			// button:hover {
			// 	background-color: #dd5a5d;
			// 	font-weight: 700;
			// }
		}
		.left {
			width: 50%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			> img {
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: 1000px) {
	.home-wrapper {
		.home-container {
			display: flex;
			flex-direction: column;
			.left {
				width: 100%;
				p {
					margin-right: 0;
				}
			}
			.right {
				width: 100%;
				margin-top: 50px;
				img {
					width: 70%;
				}
			}
		}
	}
}
